<md-dialog md-theme="dark" aria-label="New User">
   <form ng-cloak>
      <md-toolbar>
         <div class="md-toolbar-tools">
            <h2>New User</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
               <md-icon>clear</md-icon>
            </md-button>
         </div>
      </md-toolbar>

      <md-dialog-content>
         <div class="md-dialog-content">

            <div layout="row">
               <md-input-container flex="50" class="md-icon-float md-block">
                  <label>User Name</label>
                  <md-icon class="material-icons" md-menu-align-target>perm_identity</md-icon>
                  <input ng-model="user.username" type="text">
               </md-input-container>
               <md-input-container flex="50" class="md-icon-float md-block">
                  <label>Password</label>
                  <md-icon class="material-icons" md-menu-align-target>phonelink_lock</md-icon>
                  <input ng-model="user.password" type="password">
               </md-input-container>
            </div>
            <h2 class="md-title">User roles</h2>
            <md-radio-group flex="100" ng-model="user.role">
               <md-radio-button ng-repeat="role in allRoles" ng-value="role.name">
                  {{ role.name }}
               </md-radio-button>
            </md-radio-group>
            <div layout="row" ng-show="user.role == 'MANAGER'">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Plant:</label>
                <md-select ng-model="user.plant">
                  <md-option ng-repeat="plant in $root.plants" value="{{plant.Plant}}">
                    {{plant.Plant}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
         </div>
      </md-dialog-content>

      <md-dialog-actions layout="row">
         <span flex></span>
         <md-button ng-click="answer('useful')">
            Add
         </md-button>
      </md-dialog-actions>
   </form>
</md-dialog>
