<md-content class="md-padding">
   <md-card>
      <md-card-title>
         <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
               <span>User Management Control Panel</span>
               <div flex></div>
               <md-input-container flex="33" class="md-icon-float md-block" style="display: flex;">
                  <label>Search</label>
                  <input ng-model="vm.filter.$" type="text">
               </md-input-container>
               <md-button class="md-icon-button" ng-click="vm.addNewUser()">
                  <md-tooltip md-direction="top">Add new user</md-tooltip>
                  <md-icon>add</md-icon>
               </md-button>
               <md-button class="md-icon-button" ng-click="loadStuff()">
                  <md-tooltip md-direction="top">Refresh user list</md-tooltip>
                  <md-icon>refresh</md-icon>
               </md-button>
            </div>
         </md-toolbar>
      </md-card-title>
      <md-card-content>
         <md-table-container>
            <table md-table md-row-select="true" multiple="false" ng-model="selected" md-progress="promise">
               <thead md-head md-order="vm.query.order">
                  <tr md-row>
                     <th md-column md-order-by="username"><span>User Name</span></th>
                     <th md-column md-order-by="password"><span>Password</span></th>
                     <th md-column md-order-by="role"><span>Role</span></th>
                     <th md-column md-order-by="Plant"><span>Plant</span></th>
                  </tr>
               </thead>
               <tbody md-body style="cursor:pointer;">
                  <tr md-row md-select="user" md-auto-select="vm.options.autoSelect" ng-repeat="user in vm.usersTable.data | filter: vm.filter | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                     <td md-cell>{{user.username}}</td>
                     <td md-cell>{{user.password}}</td>
                     <td md-cell>{{user.role}}</td>
                     <td md-cell>{{user.Plant}}</td>
                  </tr>
               </tbody>
            </table>
         </md-table-container>
         <md-table-pagination md-limit="vm.query.limit" md-limit-options="limitOptions" md-page="vm.query.page" md-total="{{vm.usersTable.count}}" md-page-select="true" md-boundary-links="true"></md-table-pagination>
         <div ng-if="vm.options.rowSelection && selected.length">
            <md-divider class="md-padding"></md-divider>
            <div layout="row">
               <md-input-container flex="50" class="md-icon-float md-block">
                  <label>User Name</label>
                  <md-icon class="material-icons" md-menu-align-target>perm_identity</md-icon>
                  <input ng-model="selected[0].username" type="text">
               </md-input-container>
            </div>
            <div layout="row">
               <md-input-container flex="50" class="md-icon-float md-block">
                  <label>New Password</label>
                  <md-icon class="material-icons" md-menu-align-target>phonelink_lock</md-icon>
                  <input ng-model="vm.newPassword" type="password">
               </md-input-container>
               <md-input-container flex="50" class="md-icon-float md-block">
                  <label>Confirm new password</label>
                  <md-icon class="material-icons" md-menu-align-target>phonelink_lock</md-icon>
                  <input ng-model="vm.confirmNewPassword" type="password">
               </md-input-container>
            </div>
            <h2 class="md-title">User roles</h2>
            <md-radio-group flex="50" ng-model="vm.selectedRole">
               <md-radio-button ng-repeat="role in vm.allRoles" ng-value="role.name">
                  {{ role.name }}
               </md-radio-button>
            </md-radio-group>
            <div layout="row" ng-show="vm.selectedRole == 'MANAGER'">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Plant:</label>
                <md-select ng-model="vm.selectedPlant">
                  <md-option ng-repeat="plant in $root.plants" value="{{plant.Plant}}">
                    {{plant.Plant}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <md-button class="md-raised md-accent" ng-click="vm.update($event)">Save / Update</md-button>
            <md-button class="md-raised md-warn" ng-click="vm.delete($event)">Delete user</md-button>
         </div>
      </md-card-content>
   </md-card>
</md-content>
