<md-content class="md-padding">
   <md-card>
      <md-card-title>
         <md-card-title-text>
            <span class="md-headline">Hours vs Downtime</span>
         </md-card-title-text>
      </md-card-title>
      <md-card-content>
         <p>
            This page still needs to be developed
         </p>
      </md-card-content>
   </md-card>
</md-content>

<!-- <md-content class="md-padding">
   <md-card>
      <md-card-title>
         <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
               <span>User Management Control Panel</span>
               <div flex></div>
               <md-input-container flex="33" class="md-icon-float md-block" style="display: flex;">
                  <label>Search</label>
                  <input ng-model="vm.filter.$" type="text">
               </md-input-container>
               <md-button class="md-icon-button" ng-click="vm.addNewUser()">
                  <md-tooltip md-direction="top">Add new user</md-tooltip>
                  <md-icon>add</md-icon>
               </md-button>
               <md-button class="md-icon-button" ng-click="loadStuff()">
                  <md-tooltip md-direction="top">Refresh user list</md-tooltip>
                  <md-icon>refresh</md-icon>
               </md-button>
            </div>
         </md-toolbar>
      </md-card-title>
      <md-card-content>
         <md-table-container>
            <table md-table md-row-select="true" multiple="false" ng-model="selected" md-progress="promise">
               <thead md-head md-order="vm.query.order">
                  <tr md-row>
                     <th md-column md-order-by="fullname"><span>Full Name</span></th>
                     <th md-column md-order-by="lastname"><span>Last Name</span></th>
                     <th md-column md-order-by="lastname"><span>Active</span></th>
                     <th md-column md-numeric md-order-by="username" md-desc><span>User Name</span></th>
                     <th md-column md-numeric><span>Number</span></th>
                     <th md-column md-numeric><span>Email</span></th>
                  </tr>
               </thead>
               <tbody md-body style="cursor:pointer;">
                  <tr md-row md-select="user" md-auto-select="vm.options.autoSelect" ng-repeat="user in vm.usersTable.data | filter: vm.filter | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                     <td md-cell>{{user.fullname}}</td>
                     <td md-cell>{{user.lastname}}</td>
                     <td md-cell>
                        <span ng-if="user.suspended"><md-icon style="color:#EF5350;">close</md-icon></span>
                        <span ng-if="!user.suspended"><md-icon style="color:#66BB6A;">check</md-icon></span>
                     </td>
                     <td md-cell>{{user.username}}</td>
                     <td md-cell>{{user.number}}</td>
                     <td md-cell>{{user.email}}</td>
                  </tr>
               </tbody>
            </table>
         </md-table-container>
         <md-table-pagination md-limit="vm.query.limit" md-limit-options="limitOptions" md-page="vm.query.page" md-total="{{vm.usersTable.count}}" md-page-select="true" md-boundary-links="true"></md-table-pagination>
         <div ng-if="vm.options.rowSelection && selected.length">
            <md-divider class="md-padding"></md-divider>
            <div layout="row">
               <md-input-container flex="50" class="md-icon-float md-block">
                  <label>Full Name</label>
                  <md-icon class="material-icons" md-menu-align-target>perm_identity</md-icon>
                  <input ng-model="selected[0].fullname" type="text">
               </md-input-container>

               <md-input-container flex="50" class="md-icon-float md-block">
                  <label>Last Name</label>
                  <input ng-model="selected[0].lastname" type="text">
               </md-input-container>
            </div>
            <div layout="row">
               <md-input-container flex="50" class="md-icon-float md-block">
                  <label>User Name</label>
                  <md-icon class="material-icons" md-menu-align-target>cancel</md-icon>
                  <input ng-model="selected[0].username" type="text">
               </md-input-container>
               <md-switch flex="50" ng-change="vm.toggleSuspend()" ng-disabled="selected[0].validatorA === vm.userObject.userId && selected[0].validatorB === 0" ng-model="selected[0].suspended" aria-label="Suspended switch">
                  <md-tooltip ng-if="selected[0].validatorA === vm.userObject.userId && selected[0].validatorB === 0" md-direction="top">{{vm.userObject.fullname}} cant activate user.</md-tooltip>
                  <strong>Suspended</strong>
               </md-switch>
            </div>

            <md-input-container class="md-icon-float md-block">
               <label>Phone Number</label>
               <md-icon class="material-icons" md-menu-align-target>phone</md-icon>
               <input ng-model="selected[0].number" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
               <label>Email</label>
               <md-icon class="material-icons" md-menu-align-target>email</md-icon>
               <input ng-model="selected[0].email" type="text">
            </md-input-container>

            <h2 class="md-title">User roles</h2>
            <div flex="50" ng-repeat="role in vm.allRoles">
               <md-checkbox ng-checked="vm.exists(role, selected[0].roles)" ng-click="vm.toggle(role, selected[0].roles)">
                  {{ role.name }}
               </md-checkbox>
            </div>
            <md-button class="md-raised md-accent" ng-click="vm.update($event)">Save / Update</md-button>
            <md-button class="md-raised md-warn" ng-click="vm.delete($event)">Delete user</md-button>
         </div>
      </md-card-content>
   </md-card>
</md-content> -->
