<md-content class="md-padding">
  <md-card>
    <md-card-title>
      <md-card-title>
         <md-card-title-text>
            <span class="md-headline">Hours vs Downtime</span>
         </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Plant:</label>
            <md-select ng-model="selectedPlant" ng-change="getTypes(selectedPlant)">
              <md-option ng-repeat="plant in plants" value="{{plant.Plant}}">
                {{plant.Plant}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Type:</label>
            <md-select ng-model="selectedType" ng-change="getEquipment(selectedType,selectedPlant)">
              <md-option ng-repeat="type in types" value="{{type.type}}">
                {{type.type}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Equipment:</label>
            <md-select ng-model="selectedEquipment">
              <md-option ng-repeat="equipment in equipments" value="{{equipment.equipment}}">
                {{equipment.equipment}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="generate(selectedEquipment)" style="background-color:#0085CF">Generate</md-button>
        </div>
      </md-card-content>
    </md-card-title>
  </md-card>
   <md-card>
      <md-card-title>
         <md-card-title-text>
            <span class="md-headline"></span>
         </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" colour="colours"></canvas>

        <md-table-container>
        <table md-table md-row-select multiple>
          <thead md-head>
            <tr md-row>
              <th md-column>{{selectedEquipment}}</th>
              <th></th>
              <th md-column ng-repeat="label in labels"><span>{{label}}</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Hours Worked</td>
              <td md-cell>Total : {{totalHoursWorked}}</td>
              <td md-cell ng-repeat="time in hours">{{time.Total_Runtime}}</td>
            </tr>
            <tr md-row>
              <td md-cell>Downtime</td>
              <td md-cell>Total : {{totalDowntime}}</td>
              <td md-cell ng-repeat="time in downtimeArr.data">{{time.val}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      </md-card-content>
   </md-card>
</md-content>
