<md-content class="md-padding">
  <md-card>
      <md-card-title>
         <md-card-title-text>
            <span class="md-headline">Hours vs Downtime</span>
         </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div>
            <md-radio-group flex=50 ng-model="selectedType" layout="row">
              <md-radio-button value="plant">Site</md-radio-button>
              <md-radio-button value="type">Type</md-radio-button>
              <md-radio-button value="model">Model</md-radio-button>
              <md-radio-button value="equipment">Equipment</md-radio-button>
            </md-radio-group>
          <br>
          <md-radio-group flex=50 ng-model="selectedTime" layout="row">
            <md-radio-button value="day">Per Day</md-radio-button>
            <md-radio-button value="month">Per Month</md-radio-button>
            <md-radio-button value="year">Per Year</md-radio-button>
          </md-radio-group>
          <br>
          <div layout-gt-sm ng-show="selectedTime=='day'">
            <md-input-container class="md-block">
              <label>From: </label><md-datepicker ng-model="startDate" md-placeholder="Enter date"
                  md-max-date="endDate"></md-datepicker>
            </md-input-container>
            <div ng-show="selectedTime!='hour'">
              <md-input-container>
                <label>To: </label><md-datepicker ng-model="endDate" md-placeholder="Enter date"
                    md-min-date="startDate" md-max-date="maxDate"></md-datepicker>
              </md-input-container>
            </div>
          </div>
          <div layout-gt-sm ng-show="selectedTime=='month'">
            <md-input-container class="md-block">
              <label>From:</label>
              <md-select ng-model="fromMonth" >
                <md-option value=1>1</md-option>
                <md-option value=2>2</md-option>
                <md-option value=3>3</md-option>
                <md-option value=4>4</md-option>
                <md-option value=5>5</md-option>
                <md-option value=6>6</md-option>
                <md-option value=7>7</md-option>
                <md-option value=8>8</md-option>
                <md-option value=9>9</md-option>
                <md-option value=10>10</md-option>
                <md-option value=11>11</md-option>
                <md-option value=12>12</md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block">
              <label>To:</label>
              <md-select ng-model="toMonth" >
                <md-option value=1>1</md-option>
                <md-option value=2>2</md-option>
                <md-option value=3>3</md-option>
                <md-option value=4>4</md-option>
                <md-option value=5>5</md-option>
                <md-option value=6>6</md-option>
                <md-option value=7>7</md-option>
                <md-option value=8>8</md-option>
                <md-option value=9>9</md-option>
                <md-option value=10>10</md-option>
                <md-option value=11>11</md-option>
                <md-option value=12>12</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout-gt-sm ng-show="selectedTime=='year'">
            <md-input-container class="md-block">
              <label>From:</label>
              <md-select ng-model="fromYear">
                <md-option value=2017>2017</md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block">
              <label>To:</label>
              <md-select ng-model="toYear" >
                <md-option value=2017>2017</md-option>
              </md-select>
            </md-input-container>
          </div>


        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-show="selectedType=='model'">
            <label>Model:</label>
            <md-select ng-model="selectedModel">
              <md-option ng-repeat="model in models" value="{{model.model}}">
                {{model.model}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Site:</label>
            <md-select ng-model="selectedPlant" ng-change="getTypes(selectedPlant)">
              <md-option ng-repeat="plant in plants" value="{{plant.Plant}}">
                {{plant.Plant}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm ng-show="selectedType=='type' || selectedType=='equipment'">
            <label>Type:</label>
            <md-select ng-model="chosenType" ng-change="getEquipment(chosenType,selectedPlant)">
              <md-option ng-repeat="type in types" value="{{type.type}}">
                {{type.type}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm ng-show="selectedType=='equipment'">
            <label>Equipment:</label>
            <md-select ng-model="selectedEquipment" multiple>
              <md-option ng-repeat="equipment in equipments" value="{{equipment.equipment}}" >
                {{equipment.equipment}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="generate($event)" style="background-color:#0085CF">Generate</md-button>
        </div>
      </md-card-content>
    </md-card-title>
  </md-card>
   <md-card>
      <md-card-title>
         <md-card-title-text>
            <span class="md-headline"></span>
         </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" colour="colours"></canvas>

        <md-table-container>
        <table md-table md-row-select multiple>
          <thead md-head>
            <tr md-row>
              <th md-column>{{hours[1].Plant}}</th>
              <th md-column>Total</th>
              <th md-column ng-repeat="label in labels"><span>{{label}}</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row>
              <td md-cell>Hours Worked</td>
              <td md-cell>{{totalHoursWorked}}</td>
              <td md-cell ng-repeat="time in hours">{{time.Total_Runtime}}</td>
            </tr>
            <tr md-row>
              <td md-cell>Downtime</td>
              <td md-cell>{{totalDowntime}}</td>
              <td md-cell ng-repeat="time in hours">{{time.Delay}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      </md-card-content>
   </md-card>
</md-content>
