<md-toolbar class="md-hue-3" ng-controller="ToolbarController as vm" md-whiteframe="2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" hide-gt-md aria-label="refresh" ng-click="vm.toggleLeft()">
      <md-icon class="material-icons" md-menu-align-target>menu</md-icon>
    </md-button>
    <span>{{vm.state.current.data.pageTitle}}</span>
    <span flex></span>
    <md-button ng-click="vm.goLogin()" ng-show="!vm.auth.isAuthenticated()">
        <span>Login</span>
   </md-button>
  </div>
</md-toolbar>
