<md-content class="md-padding">
   <md-card>
      <md-card-title>
         <md-card-title-text>
            <span class="md-headline">General Information</span>
         </md-card-title-text>
      </md-card-title>
      <md-card-content>
         <div layout="row">
            <md-input-container flex="50" class="md-icon-float md-block">
               <label>User Name</label>
               <md-icon class="material-icons" md-menu-align-target>perm_identity</md-icon>
               <input ng-model="vm.user.username" type="text">
            </md-input-container>
         </div>

         <div layout="row">
            <md-input-container flex="50" class="md-icon-float md-block">
               <label>New Password</label>
               <md-icon class="material-icons" md-menu-align-target>phonelink_lock</md-icon>
               <input ng-model="vm.newPassword" type="password">
            </md-input-container>
            <md-input-container flex="50" class="md-icon-float md-block">
               <label>Confirm new password</label>
               <md-icon class="material-icons" md-menu-align-target>phonelink_lock</md-icon>
               <input ng-model="vm.confirmNewPassword" type="password">
            </md-input-container>
         </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
         <md-button class="md-raised md-accent" ng-click="vm.update($event)">Save / Update</md-button>
      </md-card-actions>
   </md-card>
</md-content>
